<article class="post blog-post">
    <header>
        <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
        <div class="meta clearfix">
            <div class="author">
                <i class="fa fa-user"></i>
                <span class="data">{% include post/author.html %}</span>
            </div>
            <div class="date">
                <i class="fa fa-calendar"></i>
                <span class="data">{% include post/date.html %}{{ time }}</span>
            </div>
        </div>
    </header>
    <div class="body">
        {{ content }}
    </div>
</article>