{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}
<article class="blog-teaser">
    <header>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <span class="meta">{% include post/date.html %}{{ time }}, {% include post/author.html %}</span>
        <hr>
    </header>
    <div class="body">
        {{ post.content | excerpt }}
    </div>
    <div class="clearfix">
        <a href="{{ post.url }}" class="btn btn-tales-one">Read more</a>
    </div>
</article>
