<div class="widewrapper footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-widget">
                <h3> <i class="fa fa-cog"></i>Statistics</h3>

                <span>Because everyone loves statistics!</span>

                <div class="stats">
                    <div class="line">
                        <span class="counter">{{ site.posts|size }}</span>
                        <span class="caption">Articles</span>
                    </div>
                    <!--
                    <div class="line">
                        <span class="counter">???</span>
                        <span class="caption">Comments</span>
                    </div>
                    -->
                    <div class="line">
                        <span class="counter">{{ site.authors|size }}</span>
                        <span class="caption">Authors</span>
                    </div>                    
                </div>
            </div>

            <div class="col-md-4 footer-widget">
                &nbsp;
            </div>

            <div class="col-md-4 footer-widget">
                <h3> <i class="fa fa-envelope"></i>Contact Us</h3>

                <span>We'd love to hear from you. Thoughts, feedback, critique - all welcome! Drop us a line:</span>
                
                <span class="email">We are on Twitter! <a href="http://twitter.com/bitjudo">@bitjudo</a></span>

                <span class="email"><a href="#">david@bitjudo.com</a>, PGP key 0x06374760</span>
                <span class="email"><a href="#">erik@bitjudo.com</a>, PGP key 0xA1EBD5CC</span>
            </div>
        </div>
    </div>
</div>
<div class="widewrapper copyright">
    <div class="container">
        Copyright &copy; {{ site.time | date: "%Y" }}
    </div>
</div>